Flask==3.1.3
Flask-WTF==1.2.1
Werkzeug==3.1.6
requests==2.33.0
aiohttp==3.13.3
APScheduler==3.10.4
SQLAlchemy==2.0.45
ldap3==2.9.1
geoip2==4.7.0
python-whois==0.9.6
tzlocal==5.2
dnspython==2.6.1
pytz
pyotp
qrcode
charset-normalizer
Flask-Login
Flask-Session
schedule
beautifulsoup4
maxminddb
redis
pytest
